//Sidebar
$sidebar-width: 230px;
$sidebar-box-shadow: none;

//colors
$dark:#2E2E2E;
$dark-bis:#2E2E2E;
$dark-ter:#2E2E2E;

$blue:#0984E3;
$blue-dark:#043053;
$blue-light:#3a9ce8;

$primary:$blue;

// Body
$bg-body: #f8fafc;