//Sidebar
$sidebar-width: 200px;
$sidebar-mobile-width: 60px;
$sidebar-box-shadow: none;

//colors
// $dark:#2E2E2E;
$dark-bis: #2e2e2e;
$dark-ter: #2e2e2e;

$blue: #0984e3;
$blue-dark: #043053;
$blue-light: #3a9ce8;

$primary: $blue;

// Body
// $light:#f1f4f9;

//Typography
$family-primary: "Nunito", BlinkMacSystemFont, -apple-system, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", "Helvetica", "Arial", sans-serif;

//Card
$card-shadow: none;
$card-header-shadow: none;
$card-radius: 6px;

//Dropdown
$dropdown-content-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, 0.1),
    0 0px 0 1px rgba(0, 0, 0, 0.02);
