@import "./variables";

@import "../global";

@import "./root";

/* Theme components */
@import "./components/all";

html{
    overflow: hidden;
}
body {
    background-color: var(--bb-white,$white);
}

.bb-content {
    height: calc(100vh - 3.25rem);
}
.bb-view{
    height: 100%;
    width: 100%;
    overflow: auto;
}