@import "./variables";
/* Buefy has Bulma included. So we import just that */
@import "~buefy/src/scss/buefy-build";
@import "./functions";
@import "./root";

.p-0 {
    padding: 0;
}
.p-1 {
    padding: 1rem;
}
.m-0 {
    margin: 0;
}


//columns ordering
