//size
.bb-sidebar {
    height: 100%;
    .sidebar-content {
        height: 100%;
        overflow: auto;
    }
    .menu-label {
        padding: 0.75rem 1.5rem;
        margin: 0;
    }
    .menu-list {
        a {
            padding: 1rem 1.5rem;
            border-radius: 0;
        }
        li {
            ul {
                margin: 0;
                padding: 0;
                a {
                    padding-left: 2.5rem;
                }
            }
        }
    }
}

//color
.bb-sidebar {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
    border-right: 1px solid var(--bb-light, $light);
    .sidebar-content.is-white {
        .menu-list {
            a {
                color: var(--bb-dark, $dark);
                &.is-active {
                    background-color: transparent;
                }
            }
            a.router-link-exact-active {
                background-color: var(--bb-white-ter, $white-ter);
                color: var(--bb-primary, $primary);
                position: relative;
            }
            a.router-link-exact-active::after {
                position: absolute;
                right: 0;
                top: calc(50% - 10px / 2);
                display: block;
                content: "";
                height: 20px;
                width: 4px;
                border-radius: 10px 0 0 10px;
                background-color: var(--bb-primary, $primary);
            }
        }
    }
}

.bb-sidebar .sidebar-content.is-black,
.bb-sidebar .sidebar-content.is-dark {
    background-color: var(--bb-dark, $dark);

    .menu-list {
        a {
            color: var(--bb-dark-ter, $dark-ter);
            &:hover {
                background-color: var(--bb-dark-ter, $dark-ter);
            }
        }
        a.router-link-exact-active,
        a.is-active {
            background-color: transparent;
            // background-color: var(--bb-white-ter, $white-ter);
            color: var(--bb-white, $white);
            position: relative;
        }
        a.router-link-exact-active::after {
            position: absolute;
            right: 0;
            top: calc(50% - 10px / 2);
            display: block;
            content: "";
            height: 20px;
            width: 4px;
            border-radius: 10px 0 0 10px;
            background-color: var(--bb-white, $white);
        }

        ul {
            background-color: var(--bb-dark-bis, $dark-bis);
            border-color: var(--bb-dark, $dark);
        }
    }
    .menu-label {
        color: var(--bb-white, $white);
    }
}
